---
title: About
eleventyComputed:
  eleventyNavigation:
    key: "{{ title }}"
layout: layouts/base.liquid
permalink: about.html
---

<h1>{{ title }}</h1>

<p>
  I'm Juan, a passionate freelance programmer and designer who specializes in
  building fresh and efficient websites.
</p>
<p>
  I am experienced in developing web, mobile, and desktop applications. This
  includes brand identity, graphics and illustrations.
</p>
