---
title: Second
description: This is the second page
permalink: second.html
layout: layouts/base.liquid
eleventyComputed:
  eleventyNavigation:
    key: "{{ title }}"
  parent: Home
  order: 1
---
<p>Hello</p>